/*universal styles*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

:root {
    /*color palette*/
    --softred: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --darkdesaturatedcyan: hsl(167, 40%, 24%); /*graphic design*/
    --darkblue: hsl(198, 62%, 26%); /*photography*/
    --darkmoderatecyan: hsl(168, 34%, 41%); /*footer*/

    --verydarkdesaturatedblue: hsl(212, 27%, 19%);
    --verydarkgrayishblue: hsl(213, 9%, 39%);
    --darkgrayishblue: hsl(232, 10%, 55%);
    --grayishblue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);

    /*fonts*/
    --barlow: 'Barlow', sans-serif;
    --barlowSemiBold: 600;

    --fraunces: 'Fraunces', serif;
    --fraucesBold: 700;
    --frauncesBlack: 900;

    /*font styles*/
    --title: var(--fraunces);
    --sectionHead: var(--fraunces);
    --subSectionHead: var(--fraunces);
    --content: var(--barlow);
    --name: var(--fraunces);
    --jobTitle: var(--barlow);

    /*font size*/
    --titleSize: 36pt;
    --sectionHeadSize: 18pt;
    --subSectionHeadSize: 16pt;
    --contentSize: 14pt;
    --nameSize: 14pt;
    --jobTitleSize: 12pt;

    /*font weights*/
    --titleWeight: var(--frauncesBlack);
    --sectionHeadWeight: var(--fraucesBold);
    --subSectionHeadWeight: var(--fraucesBold);
    --contentWeight: var(--barlowSemiBold);
    --nameWeight: var(--fraucesBold);
    --jobTitleWeight: var(--barlowSemiBold);

    /*font color*/
    --titleColor: var(--white);
    --sectionHeadColor: var(--verydarkdesaturatedblue);
    --subSectionHeadColor: var(--grayishblue);
    --contentColor: var(--verydarkgrayishblue);
    --nameColor: var(--verydarkdesaturatedblue);
    --jobTitleColor: var(--grayishblue);
}

body {
    margin: 0;
}

h1 {
    font-family: var(--fraunces);
    font-style: var(--title);
    font-size: var(--titleSize);
    font-weight: var(--titleWeight);
    color: var(--titleColor);
    text-align: center;
    margin: 2%;
}

h2 {
    font-family: var(--fraunces);
    font-style: var(--sectionHead);
    font-size: var(--sectionHeadSize);
    font-weight: var(--sectionHeadWeight);
    color: var(--sectionHeadColor);
    text-align: center;
    margin: 2%;
}

h3 {
    font-family: var(--fraunces);
    font-style: var(--subSectionHead);
    font-size: var(--subSectionHeadSize);
    font-weight: var(--subSectionHeadWeight);
    color: var(--subSectionHeadColor);
    text-align: center;
    margin: 2%;
}

h4 {
    font-family: var(--fraunces);
    font-style: var(--name);
    font-size: var(--nameSize);
    font-weight: var(--nameWeight);
    color: var(--nameColor);
    text-align: center;
    margin: 2%;
}

h5 {
    font-family: var(--barlow);
    font-style: var(--jobTitle);
    font-size: var(--jobTitleSize);
    font-weight: var(--jobTitleWeight);
    color: var(--jobTitleColor);
    text-align: center;
    margin: 2%;
}

p {
    font-family: var(--barlow);
    font-style: var(--content);
    font-size: var(--contentSize);
    font-weight: var(--contentWeight);
    color: var(--contentColor);
    text-align: center;
    margin: 2%;
}
/*navbar styles*/
a.nav-link{
    text-decoration: none;
    font: var(--barlow);
    font-weight: var(--barlowSemiBold);
    font-size: var(--sectionHeadSize);
    color: var(--sectionHeadColor);
}
  
.navbar{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding-top: 2%;
    padding-bottom: 2%;
    background: transparent;
    font-size: 20px;
    position: absolute;
}

.logo-container{
    display: flex;
    margin: 0 auto;
}
  
.main-nav{
    display: flex;
    width: 50%;
    float: right;
    margin-right: 2%;
    justify-content: space-between;
    list-style: none;
}
  
.main-nav li a:hover{
    color: var(--verydarkdesaturatedblue);
    background-color: var(--yellow);
    border-radius: 30px;
}

.main-nav li a{
    text-decoration: none;
    font: var(--barlow);
    font-weight: var(--barlowSemiBold);
    font-size: var(--sectionHeadSize);
    color: var(--subSectionHeadColor);
    padding: 1% 5%;
}

/*mobile navbar*/
@media only screen and (max-width : 992px){
    .navbar{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100vw;
      padding-top: 2%;
      padding-bottom: 2%;
      background: transparent;
      font-size: 20px;
    }
  
    .main-nav{
      display: none;
    }
  
    .show-nav{
      padding-top: 2%;
      display: flex;
      width: 100%;
      height: 250px;
      flex-direction: column;
      justify-content: flex-start;
      background-color: var(--white);
    }
  
    .main-nav li{
      width: 100%;
      height: 50px;
      font-size: 25px;
      justify-content: center;
      text-align: center;
      padding: 0%;
    }

    .hamburger-container {
      margin-left: 5%;
      margin-right: 5%;
      font-size: 30px;
      color: var(--white);
      background: transparent;
      border-color: transparent;
      transition: all 0.3s linear;
      cursor: pointer;
      display: block;
    }

    .logo {
        margin-left: 5%;
    }
    .logo-container {
      width: 100%;
      justify-content: space-between;
    }
    
} 

/*desktop/tablet navbar*/
@media only screen and (min-width : 993px){
    .navbar {
        display: flex;
        flex-direction: row;
    }

    .hamburger-container {
        display: none;
    }

    .main-nav li a{
        text-decoration: none;
        font: var(--barlow);
        font-weight: var(--barlowSemiBold);
        font-size: var(--sectionHeadSize);
        color: var(--white);
        display: inline;
    }

    .logo {
        width: 125px;
        height: 50px;
        align-self: center;
    }

}

/*body styles mobile*/
.one {
    background: url("./images/mobile/image-header.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
}

.two {
    display: flex;
    flex-direction: column;
}

.three {
    display: flex;
    flex-direction: column;
}
.four {
    background: url("./images/mobile/image-graphic-design.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 5%;
    height: 550px;
}

.five {
    background: url("./images/mobile/image-photography.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    max-width: 100%;
    padding: 5% 5%;
    height: 550px;
}

.seven {
    display: inline-grid;
    grid-template-columns: [first] 50% [second] 50% [end];
    grid-template-rows: [first] 50% [second] 50% end;
    grid-template-areas: 
        "gallery-one gallery-two"
        "gallery-three gallery-four"
    ;
    max-width: 100%;
}
    
    .gallery-one {
        grid-column-start: first;
        grid-column-end: second;
        grid-row-start: first;
        grid-row-end: second;
        grid-area: gallery-one;
        max-width: 100%;
    }

    .gallery-two {
        grid-column-start: second;
        grid-column-end: end;
        grid-row-start: first;
        grid-row-end: second;
        grid-area: gallery-two;
        max-width: 100%;
    }

    .gallery-three {
        grid-column-start: first;
        grid-column-end: second;
        grid-row-start: second;
        grid-row-end: end;
        grid-area: gallery-three;
        max-width: 100%;
    }

    .gallery-four {
        grid-column-start: second;
        grid-column-end: end;
        grid-row-start: second;
        grid-row-end: end;
        grid-area: gallery-four;
        max-width: 100%;
    }

    img.arrow {
        margin-top: 10%;
    }

.content-img {
    max-width: 100%;
}

div.content-container {
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button.learn-more {
    height: 45px;
}

button.yellow {
    background: transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 5px solid var(--yellow);

    font: var(--fraunces);
    font-size: 16pt;
    font-weight: 900;
    color: var(--sectionHeadColor);
    text-transform: uppercase;
}

button.red {
    background: transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 5px solid var(--softred);

    font: var(--fraunces);
    font-size: 16pt;
    font-weight: 900;
    color: var(--sectionHeadColor); 
    text-transform: uppercase; 
}

.testimonial-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3.testimonial-header {
    text-transform: uppercase;
}
div.testimonial {
    display: flex;
    flex-direction: column;
    margin: 10% 2% 10%;
}

img.testimonial-img {
    height: 75px;
    width: 75px;
    border-radius: 40px;
    justify-self: center;
    margin: 0 auto;
}

p.testimonial-content {
    margin-top: 5%;
}

/*content styles desktop/tablet*/
@media only screen and (min-width: 680px) {
    .two {
        display: flex;
        flex-direction: row-reverse;
    }

    .content-img {
        max-width: 50%;
    }

    .three {
        display: flex;
        flex-direction: row;
    }
    
    .content-special {
        display: flex;
        flex-direction: row;
    }

    .four, .five {
        width: 50%;
    }

    .testimonial-container {
        flex-direction: row;
    }

    .seven {
        display: grid;
        grid-template-columns: [first] 25% [second] 25% [third] 25% [fourth] 25% [end];
        grid-template-rows: [first] 100% [end];
        grid-template-areas: 
        "gallery-one gallery-two gallery-three gallery-four"
        ;
    }
}
/*footer styles*/
.footer {
    background-color: var(--darkmoderatecyan);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
}

.footer-logo {
    width: 150px;
    height: 45px;
    padding: 5%;
    margin: 0 auto;
}
.footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    max-width: 100%;
}

.footer-menu-item-link {
    text-decoration: none;
    color: var(--darkdesaturatedcyan);
    font: var(--barlow);
    font-weight: var(--barlowSemiBold);
    max-width: 100%;
}

.footer-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--darkdesaturatedcyan);
    height: 20px;
    width: 20px;
    margin: 0 auto;
}

.social-link {
    padding: 45%
}

.attribution { font-size: 11px; text-align: center; padding-top: 5%; }
.attribution a { color: hsl(228, 45%, 44%); }